.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App__content {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App__row {
  display: flex;
  justify-content: space-between;
  width: 88%;
}

.App__col {
  padding: 20px;
  flex-basis: 25%;
  border: 2px solid teal;
}

.Card {
  padding: 10px;
  border: 1px solid darkred;
  margin-bottom: 15px;
}

.Card:last-child {
  margin: 0;
}
